@mixin has-layout {
  zoom: 1;
}

@mixin clearfix {
  overflow: hidden;
  @include has-layout;
}

@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include has-layout;
}
